# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local data
data/raw/*
data/processed/*
data/index/*
data/history/*

# Keep folders if needed
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/index/.gitkeep
!data/history/.gitkeep